.wrapper {
  min-height: 100vh;
}

.front-head {
  text-align: center;
  margin-top: 15vh;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: black;
}

.fa-download {
  font-size: 50px;
}

.home-row {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.icon {
  margin: 0.5rem;
  border: solid red 3px;
}

.study {
  margin: 0.5rem;
  border: solid red 3px;
}

.edu-info {
  margin-left: auto;
  margin-right: auto;
}

.edu-info p,h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.about {
  border: solid red 3px;
  margin-top: 30px;
}

.i-box {
  margin: 0.5rem;
  border: solid red 3px;
  display: flex;
  justify-content: center;
  min-width: max-content;
}

.project-card {
  border: solid red 3px;
}

.card-icon {
  margin: 0.3rem;
}

.project-card-pop {
  height: 450px;
  transition: box-shadow .3s;
  transition: transform .5s;
}

.project-card-pop:hover {
  box-shadow: 0px 0px 10px 10px rgb(107, 119, 231);
  transform: scale(1.05);
}